name: Benchmark

on: 
  workflow_dispatch:
    inputs:
      benchmark:
        description: 'The Benchmark To Run'
        required: true
        default: 'null'
      tags:
        description: 'Runs The Chosen Benchmark'

jobs:
  Arrays:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.100-preview.7.20366.6
    - name: Running Benchmarking
      run: dotnet run -p ${{ github.event.inputs.benchmark }} -c Release

#name: Benchmark

#on: [push, pull_request]
#jobs:
#  Arrays:
#    runs-on: ${{ matrix.os }}
#    strategy:
#      matrix:
#        os: [windows-latest, ubuntu-latest, macos-latest]
#    steps:
#    - uses: actions/checkout@v2
#    - name: Setup .NET
#      uses: actions/setup-dotnet@v1
#      with:
#        dotnet-version: 5.0.100-preview.7.20366.6
#    - name: Benching
#      run: dotnet run -p Arrays -c Release
#  MethodAbstractions:
#    runs-on: ${{ matrix.os }}
#    strategy:
#      matrix:
#        os: [windows-latest, ubuntu-latest, macos-latest]
#    steps:
#    - uses: actions/checkout@v2
#    - name: Setup .NET
#      uses: actions/setup-dotnet@v1
#      with:
#        dotnet-version: 5.0.100-preview.7.20366.6
#    - name: Benching
#      run: dotnet run -p MethodAbstractions -c Release
